sf_train_dir/
results/
recordings/
datasets/*
!datasets/eval_clips_v2
wandb/
logs/
.venv/
__pycache__/
*.egg-info/
*.pyc
.DS_Store
_vizdoom.ini
preprocessing/*.html
preprocessing/*.txt
vizdoom-crash.log
.env
